@import "tailwindcss";

@layer base {
  :root {
    --beige-100: #f5f3f0;
  }
  
  body {
    background-color: var(--beige-100);
    min-height: 100vh;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .touch-manipulation {
    touch-action: manipulation;
  }
}
